.cartoon-area {
    position: relative;
    width: 80%;
}

.cartoon {
    width: 100%;
}

.bubble1 {
    position: absolute;
    width: 20%;
    top: 10%;
    left: 58%;
}

.bubble2 {
    position: absolute;
    width: 18%;
    top: 23%;
    left: 15%;
}

.speech-bubble1 {
    position: absolute;
    font-size: 20px;
    width: 18%;
    top: 25%;
    left: 17%;
}

.speech-bubble2 {
    position: absolute;
    font-size: 20px;
    width: 18%;
    top: 12%;
    left: 61%;
}

.history {
    text-align: center;
    width: 300px;
}

.input {
    text-align: center;
}

.speech1 {
    margin-top: 20px;
    font-size: 28px;
}

.speech2 {
    margin-top: 20px;
    font-size: 28px;
}

.talk1 {
    font-size: 28px;
}

.talk2 {
    font-size: 28px;
}

.allTAlk{
    display: flex;
    justify-content: space-around;
}
